.curr-recipe-container {
    margin: 0 10rem;
    color: black;
    background-color: white;
}

.user-recipe-info h1 {
    font-family: nyt-cheltenham,Georgia,Times New Roman,serif;
    font-size: 3rem;
    font-weight: 300;
}

.username {
    padding-bottom: 1.5rem;
}

.border {
    border-bottom: solid gray thin;
    opacity: .5;
}

.visuals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
}

.food {
    height: 15rem;
    width: 18rem;
}

.border-2 {
    border-bottom: solid #666666 thick;
    margin-bottom: 1rem;
}

#category-name {
    display: flex;
}

.category, .ingredients, .instructions, .reviews {
    color: #f4564d;
    font-weight: bold;
}

#cat {
    padding-left: .2rem;
}

.btns {
    display: flex;
    justify-content: flex-end;
    margin-top: -1.2rem;
}

.btns button {
    background-color: #f4564d;
    border-radius: .3rem;
    cursor: pointer;
}

.btns button:hover {
    transform: scale(1.2);
}

.btns button:active {
    transform: scale(.98);
}

.border-3 {
    border-bottom: solid gray thin;
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: .5;
}

#ingredients-reviews {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.ingredients, .instructions, .reviews {
    padding-bottom: 1rem;
}

.ingr {
    padding: .3rem;
}

.review-user {
    padding-bottom: .5rem;
    font-weight: bold;
}

.rating-edit-delete {
    display: flex;
    justify-content: flex-end;
}

#review-box textarea{
    resize: none;
    height: 8rem;
    width: 90%;
}

#rating-stars {
    display: flex;
}

#rating {
    font-weight: bold;
    padding-bottom: 1rem;
}

.stars {
    padding: 0 .5rem;
}

#submit {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 4rem;
}

#sumbit-review {
    padding: .5rem 2rem;
    background-color: #f4564d;
    border-radius: .3rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#sumbit-review:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#sumbit-review:active {
    transform: scale(.98);
}

.star-wrapper {
    top: 50%;
    left: 50%;
    direction: rtl;
  }
  .star-wrapper a {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
    text-decoration: none;
    transition: all 0.5s;
    margin: 0 .2rem;
  }
  .star-wrapper a:hover {
    color: #f4564d;
    transform: scale(1.3);
    cursor: pointer;
  }

  .s1:hover ~ a {
    color: #f4564d;
  }

  .s1::after ~ a {
    color: #f4564d
  }

  .s2:hover ~ a {
    color: #f4564d;
  }
  .s3:hover ~ a {
    color: #f4564d;
  }
  .s4:hover ~ a {
    color: #f4564d;
  }
  .s5:hover ~ a {
    color: #f4564d;
  }
  .wraper {
    position: absolute;
    bottom: 30px;
    right: 50px;
  }
