#category-container {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    color: #e33d26;
    background-color: #f2f3ef;
}

#inner-container {
    display: flex;
    margin: 0 10rem;
}

.cat-type {
    padding-left: .5rem;
    color: #666666;
}

#cat-label {
    display: flex;
}


#lower-container {
    display: flex;
    justify-content: space-around;
}
