.login-containerPNF {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 6rem;
}

.inner-loginPNF {
    display: flex;
    align-items: center;
    padding: 20px;

    border: solid white;
    border-radius: .3rem;
    justify-items: center;
    background-color: white;
}

#login-bannerPNF {
    display: grid;
    justify-content: space-around;
}

#circles-containerPNF {
    display: flex;
    justify-content: center;

}
#circlesPNF {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: .8rem;
    padding-bottom: .7rem;
}

#to-klickr1 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin: .5rem 0;
}

.linkerror {
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    align-items: center;
    text-align: center;
}
.linkerrorText {
    color: black;
    font-style: italic;
}

.linkerror:hover {
    background-color: #43bbd7;
}
.linkerrorText:hover {
    font-weight: bold;
}
