#outer-outer {
    background: url(pexels-ray-piedra-1565982.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

#outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .4);
    width: 50%;
    height: 100%;
}

.splash {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cuisine {
    color: white;
    font-size: 2rem;
}

.the-big-contain {
    background-color: #f2f3ef;
    position: absolute;
    width: 100%;
    height: fit-content;
}

#homepage-container {
    display: flex;
    background-color: white;
    /* margin: 0rem 10rem; */
}

.top-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

.featured-link {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.featured {
    object-fit: cover;
    height: 47rem;
    width: 100%;
}

.on-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin-bottom: 19.5rem;
    margin-left: 1rem;
    background-color: #43bbd7;
    z-index: 2;
    flex-wrap: wrap;
    height: 7rem;
    width: 7rem;
    border-radius: 4rem;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-family: nyt-karnak-display-130124, nyt-stymie, Georgia, "Times New Roman", serif;
    ;
}

.on-top-2 {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: white;
    height: 18rem;
    width: 21rem;
    margin-left: 4rem;
    margin-bottom: 5rem;
    margin-right: 4rem;
    border-radius: .3rem;
}

#recipe-name {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: -4rem;
    font-family: nyt-cheltenham, Georgia, "Times New Roman", serif;
    color: black;
    width: 250px;
    overflow-wrap: break-word;
    /* word-break: break-all; */
}

#recipe-description {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: nyt-cheltenham, Georgia, "Times New Roman", serif;
    color: black;
    flex-wrap: wrap;
    margin-top: 1rem;
}

#recipe-owner {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: black;
    width: 15rem;
    word-break: break-all;
}

#bottom-container {
    display: flex;
    justify-content: center;
    background-color: #f2f3ef;
    flex-wrap: wrap;
    /* margin: 0 2rem; */
}


.recipe-info-container {
    display: grid;
    justify-content: center;
    height: 18rem;
    width: 17rem;
    background-color: #ffffff;
    /* border: solid black thin; */
    border-radius: .2rem;
    margin: 1rem 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.recipe-info-container:hover {
    cursor: pointer;
}

.recipe-img {
    object-fit: cover;
    height: 12rem;
    width: 17rem;
}

.recipe-name-2 {
    display: grid;
    justify-content: flex-start;
    padding-bottom: 2rem;
    padding-left: 1rem;
    font-weight: bold;
    overflow-wrap: break-word;
    color: black;
}

.nested-recipe-name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#recipe-user {
    font-size: .8rem;
    font-weight: normal;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-stars {
    display: flex;
    justify-content: flex-end;
    padding-right: .5rem;
    color: black;
    font-size: 1.3rem;
    /* position: absolute; */
}

.recipe-stars a {
    color: gold;
}

.recipe-info-container:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#logo>img {
    height: 15rem;
    width: fit-content;
    object-fit: cover;
}

#rating-information {
    display: flex;
}

#lets-eat {
    background-color:#43bbd7;
    color: white;
    font-size: 1.25rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: .3rem;
    cursor: pointer;
    border: none;
}

#lets-eat:hover {
    transform: scale(1.2);
}

#lets-eat:active {
    transform: scale(.98);
}

#icon {
    display: none;
}

@media screen and (max-width: 975px) {
    #logo {
        display: none;
    }
    #icon {
        display: flex;
        height: 12rem;
        width: fit-content;
        object-fit: cover;
    }
}
