#nav {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    z-index: 5;
    height: 4rem;
    width: 100%;
    border: solid rgba(0,0,0,.3) thin;
}

#left-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

#home {
    color: #4dbff4;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 1rem;
}

.border-right {
    display: flex;
    border-right: solid rgba(0,0,0,.3) thin;
    margin-left: 1rem;
    height: 100%;
}

#search {
    margin-left: .75rem;
}

#spy {
    font-size: 1.2rem;
}

#search-bar {
    border: none;
    font-size: 1.2rem;
    width: 25rem;
}

#login, #signup {
    padding: 1rem;
    color: #4dbff4;
    text-decoration: none;
}

#login:hover, #signup:hover {
    color: black;
    border-bottom: solid #4dbff4;
}

#login-signup {
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: #4dbff4;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 2%;
}

.cat-link {
    padding: 1rem;
}

.cat-link:hover {
    background-color:#4dbff4;
    color: white;
}

.cat-link:hover > a {
    background-color: #4dbff4;
    color: white;
    transform: scale(1.2);
}

.dropdown-content a {
    display: flex;
    color: #4dbff4;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: white;
}

.dropdown:hover .drop {
    cursor: pointer;
}

.prof {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding-bottom: .5rem;
}
