#nav {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    z-index: 5;
    height: 4rem;
    width: 1005;
}

#left-nav {
    display: flex;
}

#home {
    color: #e33d26;
    font-size: 1.5rem;
    text-decoration: none;
}

#search {
    margin-left: .75rem;
}

#spy {
    font-size: 1.2rem;
}

#search-bar {
    border: none;
    font-size: 1.2rem;
    width: 25rem;
}

#login, #signup {
    padding: 1rem;
    color: #e33d26;
    text-decoration: none;
}

#login:hover, #signup:hover {
    color: black;
    border-bottom: solid #e33d26;
}

/* #login:active {
    transform: scale(.98);
} */
